n8n/workflows/store_auth_manager.json
{
  "name": "Store Authentication Manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"hours": 1}]
        }
      },
      "id": "c7d3e4f5-6b7a-8c9d-0e1f-2a3b4c5d6e7f",
      "name": "Check Token Expiry",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM stores WHERE token_expires_at < datetime('now', '+1 hour') AND is_active = 1",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-e1f2a3b4c5d6",
      "name": "Get Expiring Tokens",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-2d3e-4f5a-6b7c8d9e0f1a",
      "name": "Process Each Store",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.platform}}",
              "operation": "equals",
              "value2": "ebay"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Platform Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.ebay.com/identity/v1/oauth2/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{$json.refresh_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e8f9a0b1-c2d3-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "Refresh eBay Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "stores",
        "updateKey": "id",
        "columns": "access_token,refresh_token,token_expires_at,updated_at",
        "options": {}
      },
      "id": "c4d5e6f7-a8b9-0c1d-2e3f-4a5b6c7d8e9f",
      "name": "Update Store Token",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [1250, 250]
    }
  ],
  "connections": {
    "Check Token Expiry": {
      "main": [[{"node": "Get Expiring Tokens", "type": "main", "index": 0}]]
    },
    "Get Expiring Tokens": {
      "main": [[{"node": "Process Each Store", "type": "main", "index": 0}]]
    },
    "Process Each Store": {
      "main": [[{"node": "Platform Router", "type": "main", "index": 0}]]
    },
    "Platform Router": {
      "main": [
        [{"node": "Refresh eBay Token", "type": "main", "index": 0}],
        [{"node": "Refresh Amazon Token", "type": "main", "index": 0}]
      ]
    },
    "Refresh eBay Token": {
      "main": [[{"node": "Update Store Token", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "dropush-local"
  },
  "tags": []
}
